/* Defines the base layout of the website */
.grid-base {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 50px auto 50px;
  gap: 12px;
}

/* A 12xN grid layout */
.grid-lg {
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: 12px;
}

.solid-border {
  border: 1px solid black;
}

.dotted-border {
  border: 1px dotted black;
}

.sample {
  height: 125px;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span4 {
  grid-column: span 4;
}

.span5 {
  grid-column: span 5;
}

.span6 {
  grid-column: span 6;
}

.span7 {
  grid-column: span 7;
}

.span8 {
  grid-column: span 8;
}

.span9 {
  grid-column: span 9;
}

.span10 {
  grid-column: span 10;
}

.span11 {
  grid-column: span 11;
}

.span12 {
  grid-column: span 12;
}
