<div id="date_range">
  <label for="date_since">Since</label>
  <input
    type="date"
    name="date_since"
    value="{{ date_since }}"
    hx-get="/transaction/table"
    hx-target="#transaction_table"
    hx-trigger="change"
    hx-include="closest div"
  />
  <label for="date_until">Until</label>
  <input
    type="date"
    name="date_until"
    value="{{ date_until }}"
    hx-get="/transaction/table"
    hx-target="#transaction_table"
    hx-trigger="change"
    hx-include="closest div"
  />
</div>
