<div id="dateRange">
  <label for="dateSince">Since</label>
  <input
    id="dateSince"
    type="date"
    name="dateSince"
    value="{{ dateSince | to_date(dayoffset=90) }}"
    hx-get="/transactions"
    hx-target="#transactionTable"
    hx-trigger="change"
  />
  <label for="dateUntil">Until</label>
  <input
    id="dateUntil"
    type="date"
    name="dateUntil"
    value="{{ dateUntil | to_date(dayoffset=0) }}"
    hx-get="/transactions"
    hx-target="#transactionTable"
    hx-trigger="change"
  />
</div>
