{% macro transaction_row(tid, date, description, amount) -%}
<tr>
  <td>{{ date }}</td>
  <td>{{ description }}</td>
  <td>{{ amount | to_dollars }}</td>
  <td>
    <button type="submit" hx-get="/transaction/{{ tid }}/edit">Edit</button>
  </td>
  <td>
    <button type="submit" hx-delete="/transaction/{{ tid }}">Delete</button>
  </td>
</tr>
{%- endmacro %} {# Render a single transaction if one is provided #} {% if
transaction %} {{ transaction_row(transaction.tid, transaction.date,
transaction.description, transaction.amount) }} {% endif %}
