{# The trigger here allows us to cancel the edit from an outside element. #}
<tr class="editing" hx-get="/transaction/{{ transaction.tid }}" hx-trigger="cancel" >
  <td>
    <input type="date" name="date_time" value="{{ transaction.date }}" />
  </td>
  <td>
    <input type="text" name="description" value="{{ transaction.description }}" />
  </td>
  <td>
    <input type="text" name="amount" value="{{ transaction.amount | to_dollars}}" />
  </td>
  <td>
    <button type="cancel" hx-get="/transaction/{{ transaction.tid }}">
      Cancel
    </button>
    <button type="submit" hx-put="/transaction/{{ transaction.tid }}" hx-include="closest tr">
      Save
    </button>
  </td>
</tr>
