{% import 'transaction/partial/row.html' as rows %}

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <tbody id="transaction_rows" hx-target="closest tr" hx-swap="outerHTML">
      {% if transactions %}
        {% for transaction in transactions %}
          {{ rows.transaction_row(transaction.tid, transaction.date, transaction.description, transaction.amount) }}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="5">
            <img src="static/img/three-dots.svg" width=100 />
          </td>
        </tr>
      {% endif %}
    </tbody>
  </thead>
</table>
