{% extends "_shared_base.html" %}
{% block content %}
<h1>Transactions Example Page</h1>

{% include 'transaction/partial/daterange.html' with context %}

{% include 'transaction/partial/amounttotal.html' with context %}

{% include 'transaction/partial/rowtotal.html' with context %}

<div id="addrow" hx-swap="innerHTML">
  {% include 'transaction/partial/newrow.html' with context %}
</div>

<div id="transaction_table" hx-get="transaction/table" hx-trigger="load" hx-swap="innerHTML" hx-include="#date_range">
  {% include 'transaction/partial/table.html' with context %}
</div>
{% endblock %}
