{% import 'partial/transaction_row.html' as rows %}
<table id="transaction-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% if transactions %} {% for transaction in transactions %} {{
    rows.transaction_row(transaction.tid, transaction.timestamp,
    transaction.description, transaction.amount) }} {% endfor %} {% endif %}
  </tbody>
</table>
